html{
    background-color: rgb(22, 124, 90)
}

.grid{
    position: absolute;
    left: 32%;
    width: 560px;
    height: 300px;
    border: black solid 1px;
    margin-top: 80px;
    background-color: white;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    left: 50px;
    bottom: 50px;
    border-radius: 2px;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
    left: 50px;
    bottom: 50px;
    border-radius: 2px;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}
#score{
    text-align: center;
    font-family: "Permanent Marker",cursive;
    color: white;
}
#start{
    position: absolute;
    top: 63%;
    left: 43.5%;
    width: 200px;
    height: 30px;
    font-family: "Permanent Marker",cursive;
}